@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*-------------------- Special paddings/margins/text */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

/*-------------------- Body */

body {
    background-color: #e6d7ff;
}

/*-------------------- Nav */

.navbar-brand {
    font-weight: 900;
    font-size: 3em;
}

.navbar-nav li {
    padding-left: 2rem;
}

nav {
    background: #e1c4ff;
    border-bottom: solid 3px #d2afff;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}
